<h1>Tack!</h1>
<h2>Vi har skapat @insamling.about</h2>
<p>
  Spara detta mail, eftersom det innehåller länken
  du behöver för att kunna göra ändringar senare.
</p>
<%= link_to "Ändra insamling", @url %>
