<h1>Vi har skapat insamlingen "<%= @insamling.about %>"</h1>
<p>
  Spara detta mail, eftersom det innehåller länken
  du behöver för att kunna göra ändringar senare.
</p>
<%= link_to "Klicka här för att ändra insamling", @url %>

<p>
  Tack!
  <br>
  Tobias Talltorp
  <br>
  tobias.talltorp@gmail.com
  <br>
</p>
