@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "font-awesome";
@import "refills/flashes";
@import "refills/type-system-rounded";
@import "refills/hero";

.container {
  @include outer-container;
}

.header-section {
  background-color: $medium-gray;
}

.field_with_errors .error {
  color: $red;
 }

.share-area {
  @include flash($success-color);
  border-radius: 3px;

  p {
    margin: 0px !important;
  }

  .share-header {
    font-family: $sans-serif;
    font-size: 0.9em;
    font-weight: 800;
    padding: 0.3em 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.add-need-container {
  text-align: center;
}

a.add-need-button {
  color: #FFF !important;
}

article {
  @include pad();
  @include span-columns(7);
  @include shift(2);

  @include media($small-screen-up) {
    @include span-columns(4);
    @include shift(0);
  }

  h2, h3, h4, p, nav {
    clear: both;
  }

  h1, h2, nav {
    text-align: center;
  }

  .insamling-when {
    @include pad();
    text-align: center;
  }

  .needs {
    @include span-columns(5 of 7);
    @include shift(1);

    @include media($small-screen-up) {
      @include span-columns(4);
      @include shift(0);
    }

    li {
      position: relative;

      a {
        position: absolute;
        right: 0px;
        color: $red;
      }
    }
  }
}
