<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
      " alt="Logo Image">
    </a>
		<div class="hero-copy">
			<h1>Enklare insamlingar till människor som behöver hjälp</h1>
      <p>När du berättar vad du behöver gör du det enklare för givare att bidra.</p>	
		</div>
    <%= link_to "Skapa en lista", new_insamling_path, class: "button" %>
	</div>
</div>
